.display-timer {
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.87);
  border-radius: 50%; 
  width: 160px;
  height: 160px;
  text-align: center;
  font-size: 3rem;
}
