.display-timer {
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 3rem;
  transition: background-image 2s ease-out;
   /* background-color: linear-gradient(
    0deg, 
    green 0%, 
    green 39%, 
    transparent 39%);  */
}
